.all-products-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .all-products-section {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .all-products-container {
    margin-left: 30px;
    width: 70%;
  }
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .products-heading {
    font-size: 32px;
  }
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.no-products-img {
  width: 500px;
}
.no-products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}
.no-products-heading {
  font-size: 25px;
}
.product-failure-view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product-failure-view-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 20px;
  text-align: center;
  padding-left: -20px;
}
.products-failure-img {
  align-self: center;
  width: 350px;
}
.wrong-message {
  font-size: 20px;
}
